.container{
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.div2{
    background-color: blue;
    width: 60%;
    height: 100px;

}
.div3{
    background-color: red;
    width: 20%;
    height: 100px;
    
}
.div1{
    background-color: green;
    width: 20%;
    height: 100%;
    display: flex;
    position: absolute;
}

#dropdown{
    margin-bottom: 20px;
}