.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#dropdown{
    margin-bottom: 20px;
}

.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container > div {
    margin: 10px;
}